@use "variable.scss" as *;

.headerMainPage {
  padding: 20px;
  text-align: center;
  margin-bottom: 40px;
}

.headerMainPage h1 {
  font-size: 2.5rem;
  color: var(--title-text);
}
.headerMainPage p {
  font-size: 1.1rem;
  opacity: 0.8;
}
