@use "base.scss" as *;
@use "variable.scss" as *;
@use "themeToggle.scss" as *;

.skillsbody{
    height: auto;
    min-height: 100%;
    width:100vw;
    position:absolute;
    top:0;
    color:var(--text);
    line-height: 1.6;
    background-image: url("/images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.myfavLang{
    width: 700px;
    height: 200px;
    background-color: rgb(0, 0, 0, 0.3);
    border-radius: 13px;
    margin-left: 20px;
}