@use "base.scss" as *;
@use "variable.scss" as *;
@use "themeToggle.scss" as *;

.skillsbody{
    height: auto;
    min-height: 100%;
    width:100vw;
    position:absolute;
    top:0;
    color:var(--text);
    line-height: 1.6;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    background: 
    linear-gradient(
      rgba(0, 0, 0, var(--overlay-opacity)),
      rgba(0, 0, 0, var(--overlay-opacity))),
    url('images/i-love-coding.png') center/contain no-repeat;
    background-color: rgba(235, 235, 235);
}

.myfavLang{
    display: none;
    width: 700px;
    height: 200px;
    background-color: rgb(0, 0, 0, var(--overlay-opacity));
    border-radius: 13px;
    margin-left: 20px;
}


.skillsheader{
    position: relative;
    font-size: 20px;
    background-color: var(--hud);
    display: flex;
    justify-content: space-between;
    padding:20px;
    align-items: center;
    position: fixed;
    left:0;
    right:0;
    box-shadow: 0 4px 12px var(--shadow);
}
.navigation{
    list-style: none;
    display:flex;
    flex-direction: row;
    gap:40px;
    align-items: center;
    

}
.navigation a:hover {
    color: var(--title-text);
  }


.navi__item{
    display: flex;
    align-items: center;
    border-radius: 20px;
}
