@use "base.scss" as *;
@use "variable.scss" as *;
@use "themeToggle.scss" as *;

.skillsbody{
    height: auto;
    min-height: 100%;
    width:100vw;
    position:absolute;
    top:0;
    color:var(--text);
    line-height: 1.6;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background: 
    linear-gradient(
      rgba(0, 0, 0, var(--overlay-opacity)),
      rgba(0, 0, 0, var(--overlay-opacity))),
    url('/images/i-love-coding.png') center/cover no-repeat;
}

.myfavLang{
    display: none;
    width: 700px;
    height: 200px;
    background-color: rgb(0, 0, 0, var(--overlay-opacity));
    border-radius: 13px;
    margin-left: 20px;
}


.skillsheader{
    position: relative;
    font-size: 17px;
    background-color: rgb(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    padding:15px;
    align-items: center;
    position: fixed;
    left:0;
    right:0;
}
.navigation{
    list-style: none;
    display:flex;
    flex-direction: row;
    gap:40px;
    align-items: center;

}
