@use "variable.scss" as *;
@use "base.scss" as *;
@use "header.scss" as *;
@use "themeToggle.scss" as *;
@use "cards.scss" as *;
@use "footer.scss" as *;
@use "skills.scss" as *;

.container{
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    position: relative;
}

.wrapper{
    height: auto;
    min-height: 100%;
    width:100vw;
    position:absolute;
    top:0;
    background: var(--bg);
    color:var(--text);
    line-height: 1.6;
}




// media
@media (max-width: 600px) {
  .container {
    padding: 15px;
  }

  .headerMainPage h1 {
    font-size: 2rem;
  }

  .theme-label {
    font-size: 0.9rem;
    padding: 6px 12px;
  }
  .skillsbody{
    background-position: 32%;
    font-size: 10px;
  }

  .skillsheader{
    background-color: rgb(0, 0, 0, 0.0);
  }

//ham menu
.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
    width: 35px;
    height: 30px;
    z-index: 1001;
  }

  .hamburger span {
    width: 30px;
    height: 3px;
    background-color: var(--text);
    border-radius: 3px;
    transition: all 0.3s ease;
  }

  //hamburger to x
  .hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translateY(8px);
  }
  .hamburger.active span:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translateY(-8px);
  }

  .navi {
    position: fixed;
    top: 0;
    left: 0;
    width: 70vw;
    height: 100vh;
    background: rgba(0, 0, 0, var(--overlay-opacity));
    backdrop-filter: blur(8px);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    transition: transform 0.4s ease, opacity 0.4s ease;
    transform: translateX(-100%);
    opacity: 0;
    z-index: 0;
  }

  /* Active left menu*/
  .navi.active {
    transform: translateX(0);
    opacity: 1;
  }

  .navigation a {
    color: var(--textmenu);
    font-size: 1.2rem;
    transition: color 0.3s ease;
  }

  .navigation a:hover {
    color: var(--title-text);
  }
}

