@use "_variable.scss" as *;
@use "_base.scss";
@use "_header.scss";

body{
    height: 100vh;
    width: 100vw;
}

.world{
    width:$dWH;
    height:$dWH;
    background-color: rgb(144, 55, 170, 0.5);
    position: absolute;
    top: 40vh;
    left:40vw;
    
}